.flex-container {
  display: flex;
}

.action-container {
  min-height: 200px;
  width: 1070px;
  border-style: solid;
  margin-left: 30px;
  margin-bottom: 5px;
}

.action-container button {
  background-color: gray;
  height: 30px;
  width: 80px;
}

.action-container h4 {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 0px;
}

.action-container li {
  list-style-type: none;
}

.farm {
  margin-left: 50px;
}

.cave {
  margin-left: 140px;
}

.casino {
  margin-left: 140px;
}

.house {
  margin-left: 120px;
}
